[submodule "intx"]
	path = intx
	url = https://github.com/chfast/intx
[submodule "ethash"]
	path = ethash
	url = https://github.com/chfast/ethash
[submodule "evmone"]
	path = evmone
	url = https://github.com/ethereum/evmone
